body {
  background-color: #ffffff;
  color: #dcdcdc;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.auth-page-wrapper {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px; 
}

.auth-footer {
    width: 100%;
    background: #000;
    color: #ffffffff;
    font-size: 0.85rem;
    padding: 15px 0;
    text-align: center;
}

h1, h2 {
  color: #65df90;
  letter-spacing: 1px;
}

form {
  background-color: #2b2b2b;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background-color: #222;
  border: 1px solid #555;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}

input:focus {
  border-color: #76c893;
  outline: none;
}

button {
  background-color: #76c893;
  color: #111;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #94d3ac;
}

p {
  margin: 5px 0;
}
